policy_module(aosp, 1.0.0)

########################################
#
# Declarations
#

attribute mlstrustedsubject;

type apex_mnt_dir;
type cache_file;
type derive_classpath;
type device;
type fsck_exec;
type gsi_metadata_file;
type hwservicemanager;
type idmap;
type init_exec;
type init;
type labeledfs;
type linkerconfig_file;
type metadata_file;
type netd;
type netif;
type node;
type null_device;
type odsign;
type port;
type proc;
type rcmsvc;
type rootfs;
type sepolicy_file;
type servicemanager;
type sysfs;
type system_app;
type system_bootstrap_lib_file;
type system_data_root_file;
type system_file;
type system_lib_file;
type system_linker_exec;
type system_server;
type tmpfs;
type ueventd;
type unlabeled;
type vendor_configs_file;
type vendor_file;
