policy_module(application)

# Attribute of user applications
attribute application_domain_type;

# Executables to be run by user
attribute application_exec_type;
