policy_module(wsl_init, 1.0.0)

########################################
#
# Declarations
#

type wsl_init_t;
type wsl_init_exec_t;
typealias wsl_init_t alias wsl_init;

domain_base_type(wsl_init_t);
unconfined_domain(wsl_init_t);
domain_dyntrans_type(wsl_init_t);

#============= unlabeled_t ==============
allow unlabeled_t tmpfs_t:filesystem associate;

#============= wsl_init_t ==============
allow wsl_init_t init_exec:file { execute open read };
allow wsl_init_t init_exec:lnk_file read;
allow wsl_init_t kernel:process transition;
allow wsl_init_t root_t:chr_file write;
allow wsl_init_t root_t:dir search;
allow wsl_init_t rootfs:dir { mounton search };
allow wsl_init_t self:capability net_admin;
allow wsl_init_t self:netlink_tcpdiag_socket { nlmsg_read read write };
allow wsl_init_t system_file:dir search;
allow wsl_init_t system_linker_exec:file { open execute read };
